@page "/"
@using TRPO_Coursework.Services
@inject SimulationService Simulation
@implements IDisposable

<PageTitle>ЦУМ: Симуляція кас</PageTitle>

<p>Черга: @Simulation.Stats.QueueLength</p>
<p>Обслужено: @Simulation.Stats.TotalCustomersServed</p>

<h4>Каси</h4>
@foreach (var item in Simulation.CashDesks)
{
	<div>
    Каса @(item.Id): @(item.IsBusy ? $"Покупець #{item.CurrentCustomer.Id}" : "Вільна")
</div>
}

<p>
	<button class="btn btn-primary" @onclick="() => Simulation.Start()">Старт</button>
	<button class="btn btn-primary" @onclick="() => Simulation.Stop()">Стоп</button>
</p>

<p>
	Максимальна довжина черги: @Simulation.Stats.MaxLength<br />
	Середня довжина черги: @Simulation.Stats.AverageLength<br />
</p>

@code {
	private Action? handler;

	protected override void OnInitialized()
	{
		handler = async () => await InvokeAsync(StateHasChanged);
		Simulation.OnChange += handler;
	}

	public void Dispose()
	{
		if (handler != null)
			Simulation.OnChange -= handler;
	}
}